@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
padding-top: 56px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
 color: black !important;
}
.nav-link:hover {
  color: #c60063 !important;
 }
.navbar-brand {
  color: #c60063 !important;
}
.navbar-nav {
  margin-left: auto;
}
.container {
  padding: 8px;
}
